.unidade-container {
  @include container;
  .unidade-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .unidade-titulo {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: $color-2;
    font-weight: 800;
  }
  .unidade-item {
    margin-top: 30px;
    border-radius: 25px;
    background-color: #fff9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    > img {
      border-radius: 25px 25px 0 0;
    }
    h3 {
      font-family: 'Poppins', sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .unidade-conteudo {
      background: #fff;
      border-radius: 0 0 25px 25px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 15px;
      img {
        width: 40px;
        filter: invert(21%) sepia(8%) saturate(0%) hue-rotate(222deg)
          brightness(105%) contrast(30%);
      }
      .icons {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: 25px;
        img {
          &:hover {
            filter: brightness(0) saturate(100%) invert(12%) sepia(28%)
              saturate(4920%) hue-rotate(261deg) brightness(110%) contrast(121%);
          }
        }
        button {
          padding: 10px;
          background-color: $color-1;
          color: $color-2;
          font-size: 1rem;
          border-radius: 8px;
          font-weight: 600;
          border: 2px solid #440669;
          cursor: pointer;
          &:hover {
            background-color: #440669;
          }
        }
      }
    }
    .unidade-horario {
      border-left: 3px solid $color-1;
      padding-left: 12px;
      line-height: 1.5;
      font-family: 'Poppins', sans-serif;
      font-size: 1.25rem;
    }
  }
}
